@keyframes animateSvg {
  to {
    transform: translate(-50%, -10px);
  }
}

@keyframes upanddown {
  to {
    transform: translateY(-25px);
  }
}

@keyframes updown {
  to {
    transform: translateY(-15px);
  }
}
