@keyframes animateSvg {
  to {
    transform: translate(-50%, -10px);
  }
}

@keyframes upanddown {
  to {
    transform: translateY(-25px);
  }
}

@keyframes updown {
  to {
    transform: translateY(-15px);
  }
}

@keyframes downloadsvg {
  0% {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes footersvg {
  50% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes circulate {
  0% {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  25% {
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
  }
  100% {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
