footer {
  min-height: 100px;
  background-color: var(--color12);
  color: var(--color8);
  padding: 6rem 0;
  padding-left: $p;
  display: grid;
  grid-template-columns: 20fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  > div {
    width: 100%;
    border-left: 2px solid var(--color8);
    border-right: 2px solid var(--color8);
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
    > h2 {
      margin: 1rem;
    }
    > p {
      font: 400 1.2rem $text2;
    }
  }
  > aside {
    > article {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
      svg {
        font-size: 2rem;
        color: var(--color8);
        &:hover {
          color: var(--color3);
        }
      }
    }
  }
  > a {
    width: 50px;
    height: 50px;
    background-color: var(--color8);
    border-radius: 50%;
    display: grid;
    place-items: center;
    animation: footersvg 1.5s infinite linear alternate;
    svg {
      font-size: 2rem;
      color: var(--color3);
    }
  }
}
