nav {
  width: 90%;
  height: 100px;
  background-color: $color1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 $p;
  position: sticky;
  top: 0%;
  left: 20%;
  z-index: 60;
  > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(4px 4px 3px $color5_1);
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    &:hover {
      transform: scale(1.08);
      filter: drop-shadow(7px 7px 3px $color5_1);
    }
  }

  > div {
    display: flex;
    align-items: center;
    width: 40%;
    gap: 2rem;
    a {
      color: $color6;
      font-weight: 500;
      transition: all 0.3s;
      letter-spacing: 1px;
      &:hover {
        color: $color3;
      }
    }
  }
  > a > button {
    border: 1px solid $color6_1;
    padding: 0.5rem 2rem;
    background-color: $color1;
    cursor: pointer;
    color: $color6;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all 0.3s;
    &:hover {
      background-color: $color6;
      color: $color4;
    }
  }
}
.navMenuOpen {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: $color5;
  font-size: 1.4rem;
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  &:hover {
    color: $color3;
  }
}
