#home {
  width: 100%;
  height: 90vh;
  display: flex;
  color: var(--color5);

  > section {
    width: 100%;
    &:first-of-type {
      padding-left: $p;
      > div {
        border-top: 1px solid var(--color6_2);
        height: 100%;
        padding-top: 6rem;
        > h1 {
          font: 900 4rem $text1;
        }
        > h5 {
          display: flex;
          font-size: 0.9rem;
          padding-top: 10px;
        }
        .typewriterpara {
          margin: 20px 0;
          letter-spacing: 3px;
          font-size: 0.9rem;
        }
        > div {
          display: flex;
          margin: 5rem 0;
          width: 70%;
          gap: 4rem;
          align-items: center;
          > a {
            &:first-of-type {
              background-color: var(--color3);
              color: var(--color5);
              padding: 1rem 2.5rem;
              transition: all 0.3s;
              &:hover {
                background-color: var(--color3_1);
              }
            }
            &:last-of-type {
              font: 600 1.2rem $text2;
              color: var(--color5_1);
              display: flex;
              align-items: center;
              transition: all 0.5s;
              &:hover {
                color: var(--color5);
              }
            }
          }
        }
        aside {
          display: flex;
          justify-content: space-between;
          width: 70%;
        }
        article {
          margin: 2rem 0;
          width: 10rem;
          color: var(--color5);
          position: relative;

          &::after {
            content: "";
            background-color: var(--color4);
            width: 110%;
            height: 5rem;
            position: absolute;
            top: 0%;
            left: -10%;
            z-index: -1;
            border-radius: 50px;
          }
          > p {
            font: 900 2rem $text1;
          }
          > span {
            font: 500 1rem $text2;
          }
        }
        article[data-special] {
          width: 16rem;
        }
      }
    }
    &:last-of-type {
      border-top: 1px solid var(--color6_2);
      // position: relative;
      // top: -15%;
      // right: -5%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      overflow-x: hidden;
      &::after {
        content: "";
        width: 40vmax;
        height: 40vmax;
        background-color: var(--color3);
        position: absolute;
        z-index: -1;
        border-radius: 50%;
      }
      > img {
        width: 40vmax;
        height: 40vmax;
        object-fit: contain;
      }
    }
  }
  > svg {
    position: absolute;
    font-size: 4rem;
    color: var(--color5);
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    animation: animateSvg 0.7s infinite linear alternate;
  }
}

.description {
  display: flex;
  justify-content: center;

  > div {
    width: 75%;
    margin-top: 10vmax;
    padding: $p_base;
    border-radius: 40px 10px 40px 40px;
    background-color: var(--color7);
    filter: drop-shadow(8px 8px 7px var(--color12));
    transition: all 0.5s;
    animation: footersvg 3s infinite linear alternate;
    cursor: pointer;
    &:hover {
      border-right: 0.5px solid white;
      border-bottom: 1px solid white;
      filter: drop-shadow(10px 10px 8px var(--color12));
      transform: translateY(-5px);
    }
    > p {
      word-spacing: 4px;
      font: 400 1.2rem $text2;
      letter-spacing: 3px;
      font-family: $text2;
      color: var(--color8);
    }
  }
}
