@media screen and (max-width: 1367px) {
  nav {
    padding: 0 $p_md;
  }

  #home {
    height: 100vh;
    > section {
      &:first-of-type {
        padding-left: $p_md;
        > div aside {
          width: 85%;
        }
      }
    }
  }

  #works {
    padding: 8rem $p_md;
    height: 110vh;
    > section {
      > article {
        height: 20rem;
        width: 90%;
      }
      .workItem {
        padding: 2rem;
        height: 20rem;
        > aside {
          > p {
            margin: 1rem;
          }
          > a {
            margin: 1rem;
          }
        }
      }
    }
  }

  #services {
    padding: $p_md;
    > section {
      height: 90%;
    }
  }
  #testimonial {
    padding: $p_md;
    > section {
      width: 100%;
    }
  }

  #contact {
    > section > form {
      > input,
      > button {
        font: 400 0.8rem $text1;
        width: 50%;
      }
    }
  }
  footer {
    padding-left: $p_md;
  }
}

@media screen and (max-width: 1100px) {
  nav {
    padding: 0 $p_base !important;
  }

  #home {
    height: 110vh;
    > section {
      &:first-of-type {
        padding-left: $p_base;
        > div {
          > h1 {
            font: 900 3rem $text1;
          }
          > aside {
            width: 100%;
          }
        }
      }
    }
  }

  #works {
    padding: 8rem $p_base;
    article {
      height: 60% !important;

      .workItem {
        height: 100% !important;
        padding: 50px;
        aside {
          > p {
            letter-spacing: 1px !important;
            line-height: 100% !important;
            margin: 1rem !important;
          }
        }
      }
    }
  }

  #services {
    padding: $p_base_inverse;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 0 $p_sm !important;
    position: relative !important;
    // border: 2px solid yellow;

    > h2 {
      font-size: 1.8rem !important;
    }
    > img {
      position: relative;
      left: 3%;
    }
    > .nav_div {
      display: none;
      > a {
        display: none;
      }
    }
    > a {
      display: none;
    }
    .navMenuOpen {
      display: inline !important;
      z-index: 100 !important;
      position: absolute !important;
    }
  }

  #home {
    > section {
      &:first-of-type {
        padding-left: $p_sm;
        > div {
          gap: 2rem;
          width: 100%;
          > aside {
            flex-direction: column;
          }
        }
      }
      &:last-of-type {
        position: relative;
        top: -20%;
        &::after {
          width: 30vmax !important;
          height: 30vmax !important;
        }
        > img {
          width: 30vmax !important;
          height: 30vmax !important;
        }
      }
    }
  }

  #works {
    padding: 8rem $p_zero;

    > section {
      > article {
        height: 25vmax;
        width: 90%;
      }
      .workItem {
        height: 40vmax;
      }
    }
  }

  #services {
    padding: $p_sm_inverse;
    height: 90vh;
  }
  #testimonial {
    padding: $p_zero;
    > h2 {
      padding: 3rem;
      margin-bottom: 0%;
    }
    > section {
      padding: 5rem;
      height: 80rem;
      justify-content: space-evenly;
      > .skillbox {
        padding: 2rem;
        height: 80% !important;
      }
    }
  }

  #contact {
    > section > form {
      > h2 {
        font: 100 2.3rem $text2;
      }
      > input,
      > button {
        width: 65%;
      }
    }
  }
  footer {
    padding-left: $p_zero !important;
    grid-template-columns: 1fr !important;
    > div {
      width: 100%;
      border: none !important;

      p {
        width: 50%;
        margin: 2rem auto;
        letter-spacing: 2px;
      }
    }
    > a {
      margin: 1rem;
    }
  }
}

@media screen and (max-width: 780px) {
  #home {
    margin-bottom: 2vmax !important;
    > section {
      &:first-of-type {
        padding-left: $p_sm;
        > div {
          gap: 2rem;
          width: 100%;
          > aside {
            flex-direction: column;
          }
        }
      }
      &:last-of-type {
        position: relative !important;
        top: -53% !important;
        &::after {
          width: 25vmax !important;
          height: 25vmax !important;
        }
        > img {
          width: 30vmax !important;
          height: 30vmax !important;
        }
      }
    }
  }

  #works {
    padding: 8rem $p_zero;
    width: 120%;

    > section {
      height: 100% !important;
      > article {
        width: 100% !important;
        margin-top: 8rem;

        .workItem {
          height: 70% !important;
          display: flex !important;
          flex-direction: column !important;
          justify-content: center;
          align-items: center;
          padding: 1.5rem !important;
          > img {
            object-fit: contain;
            width: 80%;
            margin-top: 5rem;
          }
          > aside {
            > h3 {
              margin-top: 30px;
            }
            > p {
              letter-spacing: none;
              line-height: 100%;
              width: 10rem;
            }
          }
        }
      }
    }
  }

  #services {
    padding: $p_sm_inverse;
    height: 90vh;
    > h2 {
      color: var(--color8);
    }
    > section > div {
      position: relative;
      left: -80px;
      gap: 1.2rem;
    }
  }
  #testimonial {
    padding: $p_zero;
    > h2 {
      padding: 3rem;
      margin-bottom: 0%;
    }
    > section {
      padding: 3rem;
      height: 75rem;
      justify-content: space-evenly;
      > .skillbox {
        padding: 2rem;
        height: 80% !important;
      }
    }
  }

  #contact {
    > section > form {
      > h2 {
        font: 100 2.3rem $text2;
      }
      > input,
      > button {
        width: 65%;
      }
    }
  }
  footer {
    padding-left: $p_zero !important;
    grid-template-columns: 1fr !important;
    > div {
      width: 100%;
      border: none !important;

      p {
        width: 50%;
        margin: 2rem auto;
        letter-spacing: 2px;
      }
    }
    > a {
      margin: 1rem;
    }
  }
}
@media screen and (max-width: 670px) {
  nav {
    > div > a {
      display: none;
    }
    > a {
      display: none;
    }
  }
  .navMenuOpen {
    display: inline !important;
    z-index: 100 !important;
    position: relative;
    right: 40%;
  }

  #home {
    margin-bottom: 2vmax !important;
    > section {
      &:first-of-type {
        padding-left: $p_sm;
        > div {
          gap: 2rem;
          width: 100%;
          > aside {
            flex-direction: column;
          }
        }
      }
      &:last-of-type {
        position: relative !important;
        top: -53% !important;
        &::after {
          width: 25vmax !important;
          height: 25vmax !important;
        }
        > img {
          width: 30vmax !important;
          height: 30vmax !important;
        }
      }
    }
  }
  .description {
    position: relative;
    top: 20vmax !important;
    margin-bottom: 10vmax;
  }

  #works {
    padding: 8rem $p_zero !important;

    margin-bottom: 20vmax !important;

    > section {
      height: fit-content !important;
      justify-content: flex-start;
      > article {
        height: 80% !important;
        width: 90% !important;
        margin-top: 8rem;

        .workItem {
          height: 80% !important;
          display: flex !important;
          flex-direction: column !important;
          justify-content: center;
          align-items: center;
          padding: 1.5rem !important;
          > img {
            object-fit: contain;
            width: 80%;
            margin-top: 5rem;
          }
          > aside {
            > h3 {
              margin-top: 30px;
            }
            > p {
              letter-spacing: none;
              line-height: 100%;
              width: 10rem;
            }
          }
        }
      }
    }
  }

  #services {
    padding: $p_sm_inverse;
    height: 90vh;
    > h2 {
      color: var(--color8);
    }
    > section {
      gap: 1.2rem !important;
      > div {
        position: relative;
        left: -80px;
        // gap: 0.5rem;
      }
    }
    .serviceBox1 {
      width: 130% !important;
      position: relative;
      left: -82%;
    }
  }
  #testimonial {
    padding: $p_zero;
    > h2 {
      padding: 3rem;
      margin-bottom: 0%;
    }
    > section {
      padding: 3rem;
      height: 75rem;
      justify-content: space-evenly;
      > .skillbox {
        padding: 2rem;
        height: 80% !important;
      }
    }
  }

  #contact {
    > section > form {
      > h2 {
        font: 100 2.3rem $text2;
      }
      > input,
      > button {
        width: 65%;
      }
    }
  }
  footer {
    padding-left: $p_zero !important;
    grid-template-columns: 1fr !important;
    > div {
      width: 100%;
      border: none !important;

      p {
        width: 50%;
        margin: 2rem auto;
        letter-spacing: 2px;
      }
    }
    > a {
      margin: 1rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .navPhone {
    // width: 44% !important;
    left: 140px !important;
  }

  #home {
    height: unset !important;
    flex-direction: column-reverse !important;
    // width: 135% !important;

    > section {
      &:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        > div {
          border: none !important;
          padding-top: 3rem !important;
          position: relative;
          left: -18%;
          > h1 {
            font: 900 2.5rem $text1;
            position: relative;
          }
          > h5 {
            padding-top: 1.3rem !important;
            position: relative;
            left: 9%;
            font-size: 1rem !important;

            .typewriterpara {
              font-size: 1rem;
            }
          }

          aside {
            align-items: center;
            > article {
              position: relative;
              left: 14%;
            }
          }

          article[data-special] {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            left: 14%;
            span {
              display: block;
              width: 80%;
              word-wrap: break-word;
            }
          }

          article {
            // width: 90% !important;
            text-align: center;
            position: relative;
            left: 37%;
            &::after {
              top: 0;
              left: 0%;
            }
          }
        }
      }

      &:last-of-type {
        border: none !important;
      }
    }

    > svg {
      font-size: 2rem;
      bottom: 2% !important;
      left: 50% !important;
    }
  }

  #works {
    padding-left: $p_zero !important;
    margin-bottom: 10vmax !important;

    h2 {
      position: relative;
      // left: 20%;
    }
    > section {
      // width: 142% !important;

      > article {
        width: 100% !important;
        margin-top: 5rem !important;

        .workItem {
          padding: 5vmax !important;
          position: relative;
          bottom: 10%;
          // left: -5%;
          height: 50vmax !important;
          box-shadow: 0 0 5px var(--color1) !important;
          // flex-direction: row !important;

          > img {
            object-fit: contain !important;
            width: 80%;
            margin-top: 1rem;
          }

          > aside {
            padding: 0rem !important;

            > h3 {
              font-size: 1.2rem;
              position: relative !important;
              left: 0% !important;
              top: 0% !important;
              width: 100%;
            }
            > p {
              letter-spacing: 2px;
              line-height: unset;
              margin: 0%;
              width: 100%;
              font-size: 0.75rem;
            }
            > a {
              padding: 0.4rem 0.7rem;
              font-size: 0.7rem;
              margin: 1rem;
            }
          }
        }
      }
    }
  }

  #services {
    height: unset !important;
    margin-top: 200px;

    > section {
      // margin: 5rem -2rem !important;
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 1rem !important;
      // border: 2px solid white;
      position: relative !important;
      left: -15% !important;

      .serviceBox1 {
        grid-column: 1/3 !important;
        grid-row: unset !important;
        width: 100% !important;
        left: -22%;
      }
      .serviceBox4 {
        grid-column: 1/3 !important;
      }
    }
  }
  #testimonial {
    padding: $p_base $p_zero !important;
    > section {
      height: unset !important;

      justify-content: space-evenly;
      position: relative;

      > .skillbox {
        // padding: 0rem !important;
        // height: 80% !important;
        // width: 80vmax !important;
        // gap: 1.6rem !important;
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(4, 2fr) !important;

        > .cards {
          height: 100% !important;
          width: 120% !important;
          > img {
            width: 120% !important;
            height: 120% !important;
            object-fit: contain !important;
          }
        }
      }
    }
  }

  #timeline {
    height: unset !important;
    h2 {
      font: 600 1.8rem $text2 !important;
      width: fit-content;
      border: none !important;
      padding: 1.5rem !important;
    }
    > .timelineBox {
      padding-top: 8vmax;
      padding-bottom: 8vmax;
      height: unset !important;

      > .timelineItem {
        padding: $p_zero $p_sm;

        &::after {
          top: 80px;
        }
        > div {
          gap: 2rem !important;
        }
      }
    }
  }

  #contact {
    grid-template-columns: 1fr;
    position: relative;
    // left: 50vmax;
    > section {
      width: 100% !important;
      > form {
        position: relative;
        left: -26%;
        width: 100vmax !important;
      }
    }
    > aside {
      display: none !important;
    }
  }
}
@media screen and (max-width: 432px) {
  .navPhone {
    // width: 44% !important;
  }

  #home {
    height: unset !important;
    flex-direction: column-reverse !important;
    // width: 135% !important;

    > section {
      &:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        > div {
          border: none !important;
          padding-top: 3rem !important;
          position: relative;
          left: -18%;
          > h1 {
            font: 900 2.5rem $text1;
            position: relative;
          }
          > h5 {
            padding-top: 1.3rem !important;
            position: relative;
            left: 9%;
            font-size: 1rem !important;

            .typewriterpara {
              font-size: 1rem;
            }
          }

          aside {
            align-items: center;
            > article {
              position: relative;
              left: 14%;
            }
          }

          article[data-special] {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            left: 14%;
            span {
              display: block;
              width: 80%;
              word-wrap: break-word;
            }
          }

          article {
            // width: 90% !important;
            text-align: center;
            position: relative;
            left: 37%;
            &::after {
              top: 0;
              left: 0%;
            }
          }
        }
      }

      &:last-of-type {
        border: none !important;
      }
    }

    > svg {
      font-size: 2rem;
      bottom: 2% !important;
      left: 50% !important;
    }
  }

  #works {
    padding-left: $p_zero !important;
    margin-bottom: 10vmax !important;

    h2 {
      position: relative;
      // left: 20%;
    }
    > section {
      // width: 142% !important;

      > article {
        width: 100% !important;
        margin-top: 5rem !important;

        .workItem {
          padding: 5vmax !important;
          position: relative;
          bottom: 10%;
          // left: -5%;
          height: 50vmax !important;
          box-shadow: 0 0 5px var(--color1) !important;
          // flex-direction: row !important;

          > img {
            object-fit: contain !important;
            width: 80%;
            margin-top: 1rem;
          }

          > aside {
            padding: 0rem !important;

            > h3 {
              font-size: 1.2rem;
              position: relative !important;
              left: 0% !important;
              top: 0% !important;
              width: 100%;
            }
            > p {
              letter-spacing: 2px;
              line-height: unset;
              margin: 0%;
              width: 100%;
              font-size: 0.75rem;
            }
            > a {
              padding: 0.4rem 0.7rem;
              font-size: 0.7rem;
              margin: 1rem;
            }
          }
        }
      }
    }
  }

  #services {
    height: unset !important;
    margin-top: 200px;

    > section {
      // margin: 5rem -2rem !important;
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 1rem !important;
      // border: 2px solid white;
      position: relative !important;
      left: -30% !important;

      .serviceBox1 {
        grid-column: 1/3 !important;
        grid-row: unset !important;
        width: 100% !important;
        left: -22%;
      }
      .serviceBox4 {
        grid-column: 1/3 !important;
      }
    }
  }
  #testimonial {
    padding: $p_base $p_zero !important;
    > section {
      height: unset !important;

      justify-content: space-evenly;
      position: relative;

      > .skillbox {
        // padding: 0rem !important;
        // height: 80% !important;
        // width: 80vmax !important;
        // gap: 1.6rem !important;
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(4, 2fr) !important;

        > .cards {
          height: 100% !important;
          width: 120% !important;
          > img {
            width: 120% !important;
            height: 120% !important;
            object-fit: contain !important;
          }
        }
      }
    }
  }

  #timeline {
    height: unset !important;
    h2 {
      font: 600 1.8rem $text2 !important;
      width: fit-content;
      border: none !important;
      padding: 1.5rem !important;
    }
    > .timelineBox {
      padding-top: 8vmax;
      padding-bottom: 8vmax;
      height: unset !important;

      > .timelineItem {
        padding: $p_zero $p_sm;

        &::after {
          top: 80px;
        }
        > div {
          gap: 2rem !important;
        }
      }
    }
  }

  #contact {
    grid-template-columns: 1fr;
    position: relative;
    // left: 50vmax;
    > section {
      width: 100% !important;
      > form {
        position: relative;
        left: -26%;
        width: 100vmax !important;
      }
    }
    > aside {
      display: none !important;
    }
  }
}

@media screen and (max-width: 370px) {
  nav {
    position: relative !important;
    // left: -1% !important;
    width: 100% !important;
    // border: 2px solid white;

    .navMenuOpen {
      position: relative;
      right: 0% !important;
    }
  }

  // .navPhone {
  // }

  #home {
    height: unset !important;
    flex-direction: column-reverse !important;

    > section {
      &:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        > div {
          border: none !important;
          padding-top: 3rem !important;
          position: relative;
          // left: -20%;
          > h1 {
            font: 900 2.5rem $text1;
            position: relative;
          }
          > h5 {
            padding-top: 1.3rem !important;
            position: relative;
            font-size: 0.9rem !important;
            height: 2rem;

            .typewriterpara {
              font-size: 0.9rem;
              letter-spacing: 1px;
            }
          }
          > div {
            > a {
              &:first-of-type {
                > svg {
                  left: -5% !important;
                }
              }
            }
          }

          aside {
            align-items: center;
            > article {
              position: relative;
              left: 20%;
            }
          }

          article[data-special] {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            left: 20%;
            span {
              display: block;
              width: 80%;
              word-wrap: break-word;
            }
          }

          article {
            // width: 90% !important;
            text-align: center;
            position: relative;
            left: 37%;
            &::after {
              top: 0;
              left: 0%;
            }
          }
        }
      }

      &:last-of-type {
        border: none !important;
        // left: 10%;
      }
    }

    > svg {
      font-size: 2rem;
      bottom: -12% !important;
      left: 51% !important;
    }
  }
  .description {
    > div {
      padding: 30px $p_sm !important;
      position: relative;
      left: 0;
      > p {
        letter-spacing: 1px !important;
        font-weight: 500 !important;
        // font-size: 0.5rem !important;
      }
    }
  }

  #works {
    padding-left: $p_zero !important;
    height: unset !important;
    // width: 130% !important;

    h2 {
      position: relative;
      // left: 0%;
    }
    > section {
      width: 450px !important;
      position: relative;
      left: 0%;
      > article {
        height: 15vmax !important;
        width: 100% !important;
        position: relative;
        bottom: 30%;

        .workItem {
          padding: 10vmax !important;
          position: relative;
          left: -10%;
          height: 50vmax !important;
          box-shadow: 0 0 5px var(--color1) !important;
          // flex-direction: row !important;

          > img {
            object-fit: contain !important;
            width: 70%;
            margin-top: 1rem;
          }

          > aside {
            padding: 0rem !important;

            > h3 {
              font-size: 1.2rem;
              position: relative !important;
              left: 0% !important;
              top: 0% !important;
              width: 100%;
            }
            > p {
              letter-spacing: 2px;
              line-height: unset;
              margin: 0%;
              width: 100%;
              font-size: 0.75rem;
            }
            > a {
              padding: 0.4rem 0.7rem;
              font-size: 0.7rem;
              margin: 1rem;
            }
          }
        }
      }
    }
  }

  #services {
    height: unset !important;
    // width: 450px !important;
    > h2 {
      position: relative;
      left: -10%;
    }

    > section {
      position: relative;
      left: -5% !important;
      margin: 3rem -0.8rem !important;
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 0.5rem !important;
      > * {
        width: 92% !important;
      }

      .serviceBox1 {
        grid-column: 1/3 !important;
        grid-row: unset !important;

        width: 95% !important;
      }
      .serviceBox3 {
        position: relative;
        left: -54%;
        width: 98% !important;
      }
      .serviceBox4 {
        grid-column: 1/3 !important;
        grid-row: unset !important;
        width: 95% !important;
      }
    }
  }
  #testimonial {
    padding: $p_base $p_zero !important;
    // width: 130% !important;
    > section {
      height: unset !important;

      justify-content: space-evenly;

      > .skillbox {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(3, 2fr) !important;
        position: relative;
        left: -2% !important;

        > .cards {
          height: 100% !important;
          width: 115% !important;
          > img {
            width: 120% !important;
            height: 120% !important;
            object-fit: contain !important;
          }
        }
      }
    }
  }

  #timeline {
    height: unset !important;
    // width: 130% !important;
    > h2 {
      font: 600 1.5rem $text2 !important;
      width: fit-content;
      border: none !important;
      position: relative;
      // left: -4%;
    }
    > .timelineBox {
      height: unset !important;
      padding-bottom: 15vmax;
      width: 87% !important;

      &::after {
        left: 50% !important;
      }
      > .timelineItem {
        padding: 2rem 1rem !important;
        width: 100%;
        left: 0%;
        text-align: center !important;
        animation: upanddown 3s infinite linear alternate;

        &::after {
          display: none;
        }
        > div {
          // text-align: right;
          > h2 {
            font-size: 0.5rem !important;
          }

          > span {
            font-size: 0.8rem;
          }
        }
        > .timelineItem_content {
          padding: 10px 12px;
        }
      }
    }
  }

  #contact {
    grid-template-columns: 1fr;
    // border: 2px solid yellow;
    width: 100% !important;

    > section {
      > form {
        position: relative;
        // left: -27% !important;
        // width: 100vmax !important;

        > input {
          padding: 0.5rem 1.5rem !important;
          width: 40% !important;
        }
        > button {
          width: 30% !important;
        }
      }
    }
    > aside {
      display: none !important;
    }
  }
}
@media screen and (max-width: 360px) {
  #services {
    height: unset !important;
    // width: 450px !important;
    width: fit-content;
    > h2 {
      position: relative;
      left: -10%;
    }

    > section {
      // border: 2px solid red;
      position: relative;
      // width: 500px;
      left: -2% !important;
      margin: 3rem -0.8rem !important;
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 0.6rem !important;
      > * {
        width: 100% !important;
      }

      .serviceBox1 {
        grid-column: 1/3 !important;
        grid-row: unset !important;

        width: 100% !important;
      }

      .serviceBox2 {
        position: relative;

        width: 98% !important;
      }

      .serviceBox3 {
        position: relative;
        left: -50%;
        width: 100% !important;
      }
      .serviceBox4 {
        grid-column: 1/3 !important;
        grid-row: unset !important;
        width: 98% !important;
      }
    }
  }
}

@media screen and (min-height: 1400px) {
  nav {
    width: 120% !important;
    transform: translateX(10%);
    > div {
      width: 80% !important;
      margin-left: 2vmax;
    }
  }
  .mode-switch {
    max-width: fit-content;
    left: -20% !important;
  }

  #home {
    height: unset !important;
    flex-direction: column-reverse !important;
    > section {
      width: 100%;

      &:first-of-type {
        // border: 2px solid rgb(198, 201, 26);
        padding-left: $p;
        position: relative;
        left: 15%;
        > div {
          // border: 2px solid rgb(190, 90, 148);
          transform: translateX(-10%);
          width: 111%;
          padding: 0 50px;
          > h1 {
            position: relative;
            left: 20%;
          }
          > h5 {
            position: relative;
            left: 20%;
          }
          .typewriterpara {
            font-size: 1.5rem !important;
          }
          > div {
            position: relative;
            left: 17%;

            gap: 5rem !important;
          }
          aside {
            gap: 5rem;
            position: relative;
            left: 18%;
          }
          article {
            margin: 2rem 0;
            width: 10rem;
            color: var(--color5);
            position: relative;
            gap: 2.5rem;

            &::after {
              content: "";
              // border: 2px solid aliceblue;

              width: 120% !important;
              position: absolute;
              left: -30% !important;
            }
          }
        }
      }
      &:last-of-type {
        // border: 2px solid red;
        position: relative;
        right: -15%;
        &::after {
          content: "";
          width: 20vmax !important;
          height: 20vmax !important;
        }
        > img {
          width: 20vmax !important;
          height: 20vmax !important;
        }
      }
    }
    > svg {
      display: none !important;
    }
  }

  .description {
    display: flex;
    justify-content: center;

    > div {
      padding: 5% !important;
      border: 2px solid white;
      width: 100% !important;
      position: relative;
      left: 18% !important;

      > p {
        word-spacing: 2px !important;
        font: 400 1.7rem $text2 !important;
        letter-spacing: 5px !important;
      }
    }
  }

  #works {
    // border: 2px solid white;
    width: 135% !important;

    > h2 {
      font: 700 3.5rem $text2 !important;
    }
    > section {
      // border: 2px solid yellow;
      margin-top: 4rem;
      width: 100%;
      height: 80% !important;
      background-color: var(--color7);
      display: flex;
      align-items: center;
      justify-content: center;

      > article {
        // border: 2px solid red;
        position: relative;
        top: -7% !important;
        width: 100% !important;
        height: 30vmax !important;
      }
      .workItem {
        // border: 2px solid orange;
        height: 40vmax !important;
        width: 100% !important;

        padding: 2.5rem !important;
        > img {
          border-radius: 30px 0 30px 30px;
          width: 50% !important;
        }

        > aside {
          width: 100% !important;
          display: flex;
          flex-direction: column;
          align-items: center;

          > h3 {
            font-size: 2rem;
          }

          > p {
            font-size: 1.5rem !important;
            letter-spacing: 5px !important;
            word-spacing: 3px !important;
            line-height: 150% !important;
          }
          > a {
            font-size: 1.5rem !important;
            padding: 1.5rem 2rem !important;
          }
        }
      }
    }
  }

  #services {
    // border: 2px solid whitesmoke;
    width: 135% !important;

    padding: 150px !important;
    > h2 {
      font: 700 3.5rem $text2 !important;
    }
    > section {
      gap: 1rem !important;
      > * {
        > svg {
          font-size: 5rem !important;
        }
        > span {
          font: 900 1.5rem $text2 !important;
        }
      }
      .serviceBox1 {
        > h3 {
          font: 100 5.5rem $text1 !important;
        }
      }
    }
  }

  #testimonial {
    // border: 2px solid white;
    width: 135% !important;

    > section {
      // border: 2px solid white;
      width: 107% !important;

      position: relative !important;
      left: -3.5% !important;
      &::after {
        height: 40px !important;
        width: 40px !important;
      }
      > h2 {
        font: 700 3.5rem $text2 !important;
      }
    }
  }

  #timeline {
    // border: 2px solid white;
    width: 135% !important;

    h2 {
      font: 600 3.5rem $text2 !important;
    }

    .timelineBox {
      // border: 2px solid yellow;
      height: 94% !important;

      &::after {
        content: "";

        z-index: 0 !important;
      }
    }
    .timelineItem {
      margin: 3.5rem 0;
      position: relative;

      width: 100% !important;
      text-align: center !important;

      &::after {
        content: "";
        position: absolute;
        width: 40px !important;
        height: 40px !important;
        right: 574px !important;

        top: -50px !important;
      }
      > .timelineItem_content {
        height: 20vmax !important;
        // border: 2px solid white;
        display: flex !important;
        justify-content: center !important;
        animation: updown 1.5s infinite ease-in-out alternate;
        > h3 {
          font-size: 2.5rem !important;
        }
        > h5 {
          font-size: 2rem !important;
        }
        > p {
          font-size: 1.8rem !important;
        }
        > span {
          font-size: 1.5rem !important;
        }
      }
    }

    .rightTimeline {
      left: 0% !important;
      &::after {
        left: 48% !important;
      }
    }
  }

  #contact {
    // border: 2px solid white;
    width: 135%;

    > section {
      > form {
        > h2 {
          font: 100 3.5rem $text2 !important;
        }
        > input,
        > button {
          width: 80% !important;
        }
      }
    }
    > aside {
      img {
        width: 80% !important;
        height: 80% !important;
      }
    }
  }

  footer {
    width: 135% !important;
  }
}
