.mode-switch {
  // position: sticky;
  // margin-left: 5%;
  z-index: 999;
  // top: 8%;
  filter: drop-shadow(1.5px 3px 1px rgba(0, 0, 0, 0.685));
  position: fixed;

  > label {
    display: inline-block;
    width: 45px;
    height: 20px;
    position: relative;
    // margin-left: 150px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: -3px;
    right: 0;
    bottom: 0px;
    // background-color: #ccc;
    background-image: url(../assets/daysky.png);
    background-size: cover;
    transition: 0.4s;
    border-radius: 20px;
    &::before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: -1px;
      bottom: -1px;
      background-color: #fef2f2;
      background-image: url(../assets/sun.png);
      background-size: contain;
      // border: 0.5px solid rgba(150, 148, 148, 0.541);
      // background-color: #bebebe;

      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
.mode-switch input:checked + .slider {
  background-image: url(../assets/nightsky.png);
  background-size: cover;
  &::before {
    transform: translateX(24.5px);
    background-image: url(../assets/moon.png);
    background-size: contain;
  }
}
