#testimonial {
  height: 100%;
  width: 100%;
  padding: $p_base;
  background-color: var(--color9);
  color: var(--color5);

  > section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem;
    background-color: var(--color7_1);
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 1%;

      border-radius: 90% 0 90% 0;
      height: 20px;
      width: 20px;
      background-color: var(--color3);
      z-index: 100;
      animation: circulate 10s linear infinite;
    }
    > h2 {
      font: 700 2.5rem $text2;
      text-align: center;
      margin-bottom: 4rem;
      color: var(--color10);
    }
    > .skillbox {
      padding: 10px;
      width: 100%;
      margin: 3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 100%;
      gap: 2rem;
      // border: 1px solid black;

      > .cards {
        display: flex; /* Ensure img is centered within card */
        justify-content: center; /* Centers img horizontally */
        align-items: center; /* Centers img vertically */
        width: 100%;

        // border-right: 1px solid var(--color7_1);
        filter: drop-shadow(6px 3px 2px black);

        transition: transform 0.3s ease, filter 0.3s ease;
        cursor: pointer;
        &:hover {
          transform: scale(1.08) !important;
          filter: drop-shadow(10px 5px 4px black);
        }
        > img {
          // border: 1px solid black;
          background-color: var(--color8);
          padding: 1.8rem;
          width: 150px;
          height: 150px;
          object-fit: contain;
          border-radius: 20%;
        }
      }
    }
  }
}
